@import "core.scss";
@import "base.scss";

.body {
    @include left-profile(45ch, 2rem);
    .body-left {

        img {
            width: 100%;
            max-width: 500px;
            border-radius: 20px;
            box-shadow: 0 0 10px lightgrey;

        }
    }
    .body-right {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

