@import "core.scss";

@import "variables.scss";

$min-width: 375px;
$width: 1200px;
$min-margin: 40px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: min(15pt, 3vw);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
h1 {
  @include linear-font-size-clamp(375px, $width + $min_margin, 20pt, 50pt);
}
h2 {
  @include linear-font-size-clamp(375px, $width + $min_margin, 20pt, 40pt);
}
h3 {
  @include linear-font-size-clamp(375px, $width + $min_margin, 20pt, 30pt);
}
h4 {
  @include linear-font-size-clamp(375px, $width + $min_margin, 15pt, 20pt);
}
h5 {
  @include linear-font-size-clamp(375px, $width + $min_margin, 12pt, 15pt);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  text-decoration: none;
  background-color: $primary_color;
  color: white;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: inline-block;
  white-space: nowrap;
  border-radius: 100px;
  transition: ease-in 0.25s;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn-small {
  text-decoration: none;
  background-color: $primary_color;
  color: white;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5em;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  display: inline-block;
  white-space: nowrap;
  border-radius: 100px;
  transition: ease-in 0.25s;
}

.btn-small:hover {
  background-color: white;
  color: black;
}

.topper-center {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  color: $primary_color;
}

.topper-left {
  text-transform: uppercase;
  display: block;
  // text-align: center;
  font-weight: bold;
  color: $primary_color;
}

form {
  input,textarea {
    border: 2px solid gray;
    outline: none;
    padding: 1rem;
    display: block;
    width: 100%;
    transition: border ease-in 0.25s, box-shadow ease-in 0.25s;
    resize: vertical;
    &:focus {
      border: 2px solid $primary_color;
      box-shadow: 0 0 5px $primary_color;
    }

  }
  button {
    outline: none;
    border: none;
  }


}

@keyframes zoomOut {
  0% {
    transform: scaleX(1.5) scaleY(1.5);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-left.in-view {
  animation: 1s ease-out 0s slideInFromLeft;
}

.slide-right.in-view {
  animation: 1s ease-out 0s slideInFromRight;
}

.zoom-out.in-view {
  animation: 1s ease-out 0s zoomOut;
}



@media (max-width: 500px) {
}
