@import "cards.scss";
@import "base.scss";
.body {
    @include cards($width / 3, 3, 1rem);
    // min-height: 20vh;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // row-gap: 1rem;
    // column-gap: 1rem;
}

.blog-card {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: calc(($width - 2 * 1rem) / 3 );
    // border: 1px solid gray;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 0 10px gray;
}

.blog-thumbnail {

}

.blog-text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

