@import "base.scss";
@import "cards.scss";
@import "nav.scss";
@import "footer.scss";

.cta {
  background-color: black;
  position: relative;
  color: white;
}

.cta-img {
  width: 100%;
  height: 60vw;
  opacity: 0.5;
}

.cta-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  h1 {
    color: white;
  }
}

.what-we-do {
  @include responsive-lr-margin($width, $min-margin);

  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
  }
  div {
    text-align: center;
  }
}

.services {
  @include responsive-lr-margin($width, $min-margin);
  @include cards-total-width($width, 4, 1rem);
  margin-top: 2.5rem;
  .service-card {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    cursor: pointer;
    padding: 1rem;
    transition: ease-in-out 0.25s;
    &:hover {
      // box-shadow: 0 0 10px gray;
    }
    &:hover img {
      opacity: 0.5;
      transform: scale(1.1);
    }
    .service-card-img-container {
      background-color: black;
      overflow: hidden;
    }

    img {
      display: block;
      max-width: 100%;
      transition: ease-in-out 0.25s;
    }
  }
  .service-card-txt {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
  }
}

.achievement {
  @include responsive-lr-margin($width, $min-margin);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 1rem;
  .achievement-title {
    text-align: center;

  }
  .achievement-description {
    text-align: center;
    @include linear-font-size-clamp(
      $min-width,
      $width + $min-margin,
      18pt,
      70pt
    );
  }
}

.description {
  background-image: url("assets/description-bg.svg");
  background-size: cover;
  @include responsive-lr-margin($width, $min-margin);

  @include right-profile(65ch, 2rem);
  .description-left {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 65ch;
  }
  .description-right {
    align-content: center;

  }
  margin-top: 5rem;
  img {
    max-width: 500px;
    width: 100%;
    // box-shadow: 0 0 20px #333;
  }
}

.about-icons-containers {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  .about-icon-card {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    max-width: 80%;
    .about-icon-container {
      --icon-size: 50px;

      background-color: lighten($primary_color, $amount: 35%);
      border-radius: 99px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--icon-size);
      width: var(--icon-size);
      padding: 40px;
      i {
        font-size: 25pt;
        color: lighten($primary_color, 5%);
      }
    }

    .about-icon-text {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      .about-icon-title {
        font-weight: bold;
        @include linear-font-size-clamp(
          $min-width,
          $width + $min_margin,
          14pt,
          18pt
        );
      }
    }
  }
}
.clients {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: #f7f7f7;
}
.clients-image {
  @include responsive-lr-margin($width, $min-margin);
  img {
    margin: auto;
    width: 100%;
  }
}
.image-testimonial-bottom {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  width: 100%;
  .image-testimonial-author-name {
    font-weight: bold;
  }
  .image-testimonial-author {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }

  .image-testimonial-profile-img {
    height: 50px;
    width: 50px;
    border-radius: 99px;
  }
  .image-testimonial-icon {
    flex-grow: 1;
    text-align: right;
    i {
      @include linear-font-size-clamp(
        $min-width,
        $width + $min-margin,
        40pt,
        50pt
      );
      color: lighten($color: $primary_color, $amount: 10%);
    }
  }
}

.image-testimonial-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  padding: 2rem;
  row-gap: 1rem;
  position: relative;
  top: 2rem;
  margin-top: -2rem;
}

.clients-testimonials {
  @include responsive-lr-margin($width, $min-margin);
  @include cards-total-width($width * 0.5, 2, 2rem);
  i {
    @include linear-font-size-clamp(
      $min-width,
      $width + $min-margin,
      30pt,
      40pt
    );
    color: $primary_color;
  }
  .testimonial-card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: #f0f0f0;
    padding: 2rem;

    .testimonial-title {
      @include linear-font-size-clamp(
        $min-width,
        $width + $min-margin,
        15pt,
        30pt
      );
    }
  }
}

// @media (max-width: 1200px) {
//   .description {
//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
//     width: 100%;
//     .description-left {
//       max-width: none;
//       width: 100%;
//     }
//     img {
//       display: none;
//     }
//   }
// }
