@import "base.scss";
.interior-body {
    // min-height: 100vh;
    @include responsive-lr-margin($width, $min-margin);
    margin-top: 5rem;
    margin-bottom: 5rem;
    z-index: 2;
    position: relative;
    background-color: white;
  }
  .interior-header {
    position: relative;
    background-color: black;
    overflow: hidden;
    max-height: 33vh;
    .interior-header-title {
      position: absolute;
      top: 60%;
      color: white;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
  
      h1 {
        white-space: nowrap;
      }
  
    }
    .interior-img {
      z-index: 0;
      // object-fit: cover;
      opacity: 0.5;
      object-fit: cover;;
      margin: auto;
      width: 100%;
      margin-top: -10%;
      // margin-bottom: -100px;
      height: 100%;
      overflow: hidden;
    }
  }