@import "base.scss";

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  @include responsive-lr-padding($width, $min-margin);
  justify-content: space-between;
  column-gap: 5vw;
  align-items: center;
  background-color: rgba($color: $secondary_color, $alpha: 0.9);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 18pt;
  z-index: 99;
  width: 100%;
  // padding: 0.5rem;
}

.brand-title {
  font-size: 18pt;
  margin: 0.5em;
}


.navbar-links ul {
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a:hover {
  background-color: #5f5f5f84;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  display: block;
  font-size: 12pt;
  font-weight: bold;
  transition: ease-in-out 0.25s;
  white-space: nowrap;
}
.dropdown {
  position: relative;
  display: block;
}
.dropdown > a::after {
  content: "\00a0\00a0\00a0\25bc";
  font-size: 8pt;
  padding-right: 10px;
}

.dropdown:hover ul, .dropdown:active ul, .dropdown:focus ul {
  display: block;
  animation: dropdown 1s;
}

.dropdown ul {
  display: none;
  position: absolute;
  background-color: rgba($secondary_color, $alpha: 0.9);
  backdrop-filter: blur(10px);
  left: 0;
  top: 70px;
  width: max-content;
  border-bottom: 5px solid $primary_color;
}


.toggle-button-container {
  display: none;
}

.toggle-button {
  position: absolute;
  top: 0.05rem;
  right: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 65px;
  row-gap: 12px;
  padding: 10px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
//   border-radius: 10px;
}

@keyframes dropdown {
  from {
    // opacity: 0;
    max-height: 0;
  }

  to {
    // opacity: 1;
    max-height: 500px;
    
  }
}

.active {
  /* max-height: 0; */
  animation: dropdown 1s;
}

@media (max-width: 1150px) {
  .toggle-button-container {
    display: initial                                                                      ;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: flex;
    height: 0;
    width: 100%;
    overflow: hidden;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;

  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    height: fit-content;
  }

  .cta-nav {
    display: none;
  }

  .dropdown ul {
    position: relative;
    top: auto;
    left: auto;
  }
}
