---
title: About Us
layout: layouts/interior.njk
css: about.css
---
<div class="body">
 <div class="body-left">
  <img class="slide-left animate" src="/assets/about.webp"/>
 </div>
 <div class="body-right">
  <div class="topper-left">
   {{ topper }}
  </div>
  <div class="body-content">
   {{ content | safe}}
  </div>
  <div>
   <a class="btn" href="#">
    Get Started Today
   </a>
  </div>
 </div>
</div>
