---
title: About Us
layout: layouts/interior.njk
css: about.css
---

<div class="body">
  <div class="body-left">
    <img class="slide-left animate" src="/assets/about.webp" />
  </div>
  <div class="body-right">
    <div>
      <div class="topper-left">
        {{ topper }}
      </div>
      <h3>Painting Company</h3>
    </div>

    <div class="body-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat id
      magna non mattis. Nullam lacinia nunc quis mauris tristique, ut mollis
      mauris aliquam. Donec molestie libero ante, non euismod est dapibus sed.
      Suspendisse et cursus orci. Vestibulum a bibendum mi. Sed gravida molestie
      justo nec aliquam. Praesent luctus aliquam mollis. Nunc ullamcorper
      sollicitudin purus sit amet tempor. Sed vitae augue ac neque lacinia
      tempus. Vestibulum sit amet ligula sit amet leo dapibus lacinia. Quisque
      dignissim dui nunc, consectetur gravida est scelerisque non. Vestibulum ut
      diam a eros luctus dapibus. Mauris vitae justo finibus, efficitur ligula
      eu, suscipit elit.
    </div>
    <div>
        Donec molestie libero ante, non euismod est dapibus sed.
      Suspendisse et cursus orci. Vestibulum a bibendum mi. Sed gravida molestie
      justo nec aliquam. Praesent luctus aliquam mollis. Nunc ullamcorper
      sollicitudin purus sit amet tempor. Sed vitae augue ac neque lacinia
      tempus. Vestibulum sit amet ligula sit amet leo dapibus lacinia. Quisque
      dignissim dui nunc, consectetur gravida est scelerisque non. Vestibulum ut
      diam a eros luctus dapibus. Mauris vitae justo finibus, efficitur ligula
      eu, suscipit elit.
    </div>
    <div>
      <a class="btn" href="#"> Get Started Today </a>
    </div>
  </div>
</div>
