* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: min(15pt, 3vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: clamp(20pt, 4.6242774566vw - 17.3410404624px + 20pt, 50pt);
}

h2 {
  font-size: clamp(20pt, 3.0828516378vw - 11.5606936416px + 20pt, 40pt);
}

h3 {
  font-size: clamp(20pt, 1.5414258189vw - 5.7803468208px + 20pt, 30pt);
}

h4 {
  font-size: clamp(15pt, 0.7707129094vw - 2.8901734104px + 15pt, 20pt);
}

h5 {
  font-size: clamp(12pt, 0.4624277457vw - 1.7341040462px + 12pt, 15pt);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  text-decoration: none;
  background-color: #4885ed;
  color: white;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: inline-block;
  white-space: nowrap;
  border-radius: 100px;
  transition: ease-in 0.25s;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn-small {
  text-decoration: none;
  background-color: #4885ed;
  color: white;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5em;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
  white-space: nowrap;
  border-radius: 100px;
  transition: ease-in 0.25s;
}

.btn-small:hover {
  background-color: white;
  color: black;
}

.topper-center {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
  color: #4885ed;
}

.topper-left {
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  color: #4885ed;
}

form input, form textarea {
  border: 2px solid gray;
  outline: none;
  padding: 1rem;
  display: block;
  width: 100%;
  transition: border ease-in 0.25s, box-shadow ease-in 0.25s;
  resize: vertical;
}
form input:focus, form textarea:focus {
  border: 2px solid #4885ed;
  box-shadow: 0 0 5px #4885ed;
}
form button {
  outline: none;
  border: none;
}

@keyframes zoomOut {
  0% {
    transform: scaleX(1.5) scaleY(1.5);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-left.in-view {
  animation: 1s ease-out 0s slideInFromLeft;
}

.slide-right.in-view {
  animation: 1s ease-out 0s slideInFromRight;
}

.zoom-out.in-view {
  animation: 1s ease-out 0s zoomOut;
}

footer {
  background-image: url("assets/footer_background.svg");
  background-color: black;
  color: white;
  padding: 0 max(40px, (100% - 1200px) / 2) 0 max(40px, (100% - 1200px) / 2);
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}
footer ul {
  margin-top: 1rem;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 18pt;
  display: block;
}
footer .footer-social-media-icons {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
footer .footer-contact {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer .footer-quick-links {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer .footer-quick-links a {
  text-decoration: none;
  color: white;
}
footer .footer-quick-links h4 {
  white-space: nowrap;
}
footer .footer-icons {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer .footer-icon-label {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
footer .footer-left {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer .footer-right {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
}

@media (max-width: 1200px) {
  footer {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=footer.css.map */
