<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painter</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="assets/css/fontawesome.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="assets/css/brands.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="assets/css/solid.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body>
    {% include '_nav.njk' %}
    <div class="cta">
      <img src="assets/cta-bg.webp" class="cta-img zoom-out animate" />
      <div class="cta-title">
        <h1>Painting Company</h1>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
          lectus ut nulla bibendum maximus.
        </div>
        <div>
          <a href="#" class="btn">Get a Quote</a>
        </div>
      </div>
    </div>
    <div class="what-we-do">
      <span class="topper-center">What We Do</span>
      <h2>Painting Services</h2>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
        lectus ut nulla bibendum maximus.
      </div>
    </div>
    <div class="services">
      <div class="service-card-row slide-left animate">
        <div class="service-card">
          <img src="assets/card-bg.webp" />
          <div class="service-card-txt">
            <h4>Interior Painting</h4>
            <div class="service-card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              sed lectus ut nulla bibendum maximus. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nullam sed lectus ut nulla bibendum
              maximus.
            </div>
            <div class="service-card-btn">
              <a href="#" class="btn-small">Learn More</a>
            </div>
          </div>
        </div>

        <div class="service-card">
          <img src="assets/card-bg.webp" />
          <div class="service-card-txt">
            <h4>Exterior Painting</h4>
            <div class="service-card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              sed lectus ut nulla bibendum maximus. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nullam sed lectus ut nulla bibendum
              maximus.
            </div>
            <div class="service-card-btn">
              <a href="#" class="btn-small">Learn More</a>
            </div>
          </div>
        </div>
        <!-- </div>
      <div class="service-card-row slide-right animate"> -->
        <div class="service-card">
          <img src="assets/card-bg.webp" />
          <div class="service-card-txt">
            <h4>Commerical</h4>
            <div class="service-card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              sed lectus ut nulla bibendum maximus. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nullam sed lectus ut nulla bibendum
              maximus.
            </div>
            <div class="service-card-btn">
              <a href="#" class="btn-small">Learn More</a>
            </div>
          </div>
        </div>

        <div class="service-card">
          <img src="assets/card-bg.webp" />
          <div class="service-card-txt">
            <h4>Residential</h4>
            <div class="service-card-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              sed lectus ut nulla bibendum maximus. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nullam sed lectus ut nulla bibendum
              maximus.
            </div>
            <div class="service-card-btn">
              <a href="#" class="btn-small">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="achievement">
      <div class="achievement-card">
        <div class="achievement-description topper-center">
          Years of Experience
        </div>
        <h2 class="achievement-title">25+</h2>
      </div>
      <div class="achievement-card">
        <div class="achievement-description topper-center">
          Clients
        </div>
        <h2 class="acheivement-description">1K+</h2>
      </div>    
      <div class="achievement-card">
        <div class="achievement-description topper-center">
          Customer Satisfaction
        </div>
        <h2 class="achievement-title">99%</h2>
      </div>
      <div class="achievement-card">
        <div class="achievement-description topper-center">
          Reviews
        </div>
        <h2 class="acheivement-description">5/5</h2>
      </div>

    </div>
    <div class="description">
      <div class="description-left">
        <span class="topper-left">About Us</span>

        <h2>Painting Company: Quality Guaranteed</h2>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          leo nisi, tempus sit amet ultrices a, ullamcorper vel ante. Curabitur
          ultrices porta sapien, dapibus condimentum lorem tristique porttitor.
          Aliquam nec lectus tincidunt, congue mi eget, scelerisque augue. In
          vestibulum suscipit fringilla. Pellentesque et pharetra risus. Nunc
          finibus dictum lectus eu suscipit. Mauris a enim dui. Nulla elementum
          rutrum neque venenatis pellentesque. Integer tristique nulla massa,
          vitae interdum eros mattis sed. Etiam felis lectus, eleifend vel porta
          id, mollis vel felis. Donec non gravida quam. Nullam pellentesque
          tincidunt ullamcorper. Maecenas eleifend arcu id dui vulputate
          pretium. Integer purus nisl, pulvinar quis massa id, fringilla maximus
          tortor. Sed sed finibus eros. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Suspendisse leo nisi, tempus sit amet ultrices a,
          ullamcorper vel ante. Curabitur ultrices porta sapien, dapibus
          condimentum lorem tristique porttitor. Aliquam nec lectus tincidunt,
          congue mi eget, scelerisque augue. In vestibulum suscipit fringilla.
          Pellentesque et pharetra risus. Nunc finibus dictum lectus eu
          suscipit. Mauris a enim dui. Nulla elementum rutrum neque venenatis
          pellentesque. Integer tristique nulla massa, vitae interdum eros
          mattis sed. Etiam felis lectus, eleifend vel porta id, mollis vel
          felis. Donec non gravida quam. Nullam pellentesque tincidunt
          ullamcorper. Maecenas eleifend arcu id dui vulputate pretium. Integer
          purus nisl, pulvinar quis massa id, fringilla maximus tortor. Sed sed
          finibus eros.
        </div>
        <div>
          <a href="" class="btn"
            ><i class="fa-solid fa-phone"></i> &nbsp; Call 604-123-1234</a
          >
        </div>
      </div>
      <div class="slide-right animate">
        <img src="assets/1.webp" />
      </div>
    </div>
    <!-- <div class="clients">
      <h2>Our Clients</h2>

    </div> -->
    {% include '_foot.njk' %}

    <script src="/scripts/script.js"></script>
  </body>
</html>
