<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Painter</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <link
      href="assets/css/fontawesome.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/css/brands.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="assets/css/solid.min.css"
      onload="this.onload=null;this.rel='stylesheet'"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    {% include '_nav.njk' %}
    <div class="cta">
      <img class="cta-img zoom-out animate" src="assets/cta-bg.webp" />
      <div class="cta-title">
        <h1>Painting Company</h1>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
          lectus ut nulla bibendum maximus.
        </div>
        <div>
          <a class="btn" href="#"> Get a Quote </a>
        </div>
      </div>
    </div>
    <div class="what-we-do">
      <span class="topper-center"> What We Do </span>
      <h2>Painting Services</h2>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
        lectus ut nulla bibendum maximus.
      </div>
    </div>
    <div class="services">
      <div class="service-card">
        <div class="service-card-img-container">
          <img src="/assets/commercial_painting.webp" />
        </div>
        <div class="service-card-txt">
          <h4>Interior Painting</h4>
          <div class="service-card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
            lectus ut nulla bibendum maximus. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam sed lectus ut nulla bibendum
            maximus.
          </div>
        </div>
      </div>
      <div class="service-card">
        <div class="service-card-img-container">
          <img src="/assets/exterior_painting.webp" />
        </div>
        <div class="service-card-txt">
          <h4>Exterior Painting</h4>
          <div class="service-card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
            lectus ut nulla bibendum maximus. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam sed lectus ut nulla bibendum
            maximus.
          </div>
        </div>
      </div>
      <!-- </div>
      <div class="service-card-row slide-right animate"> -->
      <div class="service-card">
        <div class="service-card-img-container">
          <img src="/assets/commercial_painting.webp" />
        </div>
        <div class="service-card-txt">
          <h4>Commerical</h4>
          <div class="service-card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
            lectus ut nulla bibendum maximus. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam sed lectus ut nulla bibendum
            maximus.
          </div>
        </div>
      </div>
      <div class="service-card">
        <div class="service-card-img-container">
          <img src="/assets/exterior_painting.webp" />
        </div>
        <div class="service-card-txt">
          <h4>Residential</h4>
          <div class="service-card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed
            lectus ut nulla bibendum maximus. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nullam sed lectus ut nulla bibendum
            maximus.
          </div>
        </div>
      </div>
    </div>
    <div class="description">
      <div class="description-left">
        <div>
          <span class="topper-left"> About Us </span>
          <h2>Painting Company: Quality Guaranteed</h2>
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          leo nisi, tempus sit amet ultrices a, ullamcorper vel ante. Curabitur
          ultrices porta sapien, dapibus condimentum lorem tristique porttitor.
          Aliquam nec lectus tincidunt, congue mi eget, scelerisque augue. In
          vestibulum suscipit fringilla. Pellentesque et pharetra risus. Nunc
          finibus dictum lectus eu suscipit. Mauris a enim dui. Nulla elementum
          rutrum neque venenatis pellentesque. 
        </div>
        <div class="about-icons-containers">
          <div class="about-icon-card">
            <div class="about-icon-container">
              <i class="fa-solid fa-user"> </i>
            </div>
            <div class="about-icon-text">
              <div class="about-icon-title">Expertise</div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse leo nisi, tempus sit amet ultrices a, ullamcorper
                vel ante. Curabitur ultrices porta sapien, dapibus condimentum
                lorem tristique porttitor.
              </div>
            </div>
          </div>
          <div class="about-icon-card">
            <div class="about-icon-container">
              <i class="fa-solid fa-book"> </i>
            </div>
            <div class="about-icon-text">
              <div class="about-icon-title">Customer First Approach</div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse leo nisi, tempus sit amet ultrices a, ullamcorper
                vel ante. Curabitur ultrices porta sapien, dapibus condimentum
                lorem tristique porttitor.
              </div>
            </div>
          </div>
        </div>
        <div>
          <a class="btn" href="">
            Free Consultation
          </a>
        </div>
      </div>
      <div class="description-right slide-right animate">
        <img src="/assets/painter.webp" />
      </div>
    </div>
    <div class="achievement">
      <div class="achievement-card">
        <div class="achievement-title topper-center">
          Years of Experience
        </div>
        <h2 class="achievement-description">25+</h2>
      </div>
      <div class="achievement-card">
        <div class="achievement-title topper-center">Clients</div>
        <h2 class="achievement-description">1K+</h2>
      </div>
      <div class="achievement-card">
        <div class="achievement-title topper-center">
          Customer Satisfaction
        </div>
        <h2 class="achievement-description">99%</h2>
      </div>
      <div class="achievement-card">
        <div class="achievement-title topper-center">Reviews</div>
        <h2 class="achievement-description">5/5</h2>
      </div>
    </div>
    <div class="clients">
      <div class="clients-image">
        <div class="image-testimonial-card">
          <div class="image-testimonial-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
            laudantium facere possimus voluptate fugiat perspiciatis delectus
            velit recusandae! Natus libero impedit deserunt? Voluptate animi
            autem, explicabo ipsum praesentium nobis excepturi!
          </div>
          <div class="image-testimonial-bottom">
            <div class="image-testimonial-profile-img">
                  <img src="/assets/profile.jpg" class="image-testimonial-profile-img" width="50" height="50"/>
            </div>
            <div class="image-testimonial-author">
                  <div class="image-testimonial-author-name">
                        Richard Jones
                  </div>
                  <div class="image-testimonial-position">
                        Homeowner
                  </div>
            </div>
            <div class="image-testimonial-icon">
                  <i class="fa-solid fa-quote-right"></i>
            </div>
          </div>
        </div>
        <img src="/assets/clients.jpg" />
      </div>
      <div class="clients-testimonials">
        <div class="testimonial-card">
          <div>
            <i class="fa-solid fa-quote-left"></i>
          </div>
          <div class="testimonial-title">Skilled, Efficient</div>
          <div class="testimonial-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
            laudantium facere possimus voluptate fugiat perspiciatis delectus
            velit recusandae! Natus libero impedit deserunt? Voluptate animi
            autem, explicabo ipsum praesentium nobis excepturi!
          </div>
          <div>&mdash; Sheldon Cooper</div>
        </div>
        <div class="testimonial-card">
          <div>
            <i class="fa-solid fa-quote-left"></i>
          </div>
          <div class="testimonial-title">Knowledgeable</div>
          <div class="testimonial-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
            laudantium facere possimus voluptate fugiat perspiciatis delectus
            velit recusandae! Natus libero impedit deserunt? Voluptate animi
            autem, explicabo ipsum praesentium nobis excepturi!
          </div>
          <div>&mdash; Bob Newhart</div>
        </div>
      </div>
    </div>
    {% include '_foot.njk' %}
    <script src="/scripts/script.js"></script>
  </body>
</html>
